ion-badge {
    --background: rgb(252, 10, 10);
    --color: white;
    --padding-end: 20px;
    --padding-start: 20px;
  }

  ion-checkbox {
    --size: 32px;
    --checkbox-background-checked: #00ff00;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #1572ec;
  }